<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>When did you enter the Air Force?</p>
            <input type="date" name="enlistmentDate" id="enlistmentDate" value="mm/dd/yyyy">
            <br><br><br>
            <p>What is your date of rank for A1C?</p>
            <input type="date" name="a1cDate" id="a1cDate" value="mm/dd/yyyy">
            <br><br><br>
            <button type="button" onclick="calculate()">Calculate</button>
        </div>
        <div class="col">
            <h3>Projected Promotion Dates</h3>
            <p>Your BTZ board will be <span class="importantInfo" id="btzBoardDate"></span></p>
            <p>You will sew on Senior Airman Below The Zone <span class="importantInfo" id="sraBTZSewOnDate"></span></p>
            <p>If you don't get BTZ, you will sew on SrA <span class="importantInfo" id="sraSewOnDate"></span></p>
        </div>
    </div>
</div>